<%= form_for(@organization) do |f| %>
  <%= f.error_messages %>

  <div class="orgInfo">
    <h4><%=t("org_info")%></h4>
    <p>
      <%= f.label t("org_form.name") %>
      <%= f.text_field :name %>
    </p>
    
    <p>
      <label><%= t("org_form.contact") %><span class="smoothText">(<%=t("contact_info")%>)</span></label
      <%= f.text_field :contact %>
    </p>
    <p>
      <%= f.label t("org_form.city") %>
      <%= f.text_field :city %>
    </p>
    <p>
      <%= f.label t("org_form.country") %>
      <%= f.text_field :country %>
    </p>
    
    
    <p>
      <%= f.label t("org_form.tags") %>
        <blockquote id="list_tags"> 
        <% @tags.each do |tag| -%>
          <label><input type="checkbox" value="<%=tag.id%>" name="organization[tag_ids][]" <%= @organization.tags.include?(tag) ? "checked=\"checked\"" : "" %>/> <%= t("tag.#{tag.name}") %></label>
        <% end -%>
        <div class="clear"></div>
      </blockquote>
    </p>
    
    <p class="textarea">
      <%= f.label t("org_form.needs") %>
      <%= f.text_area :needs %>
    </p>
  </div>
  
  <div class="announcerInfo">
    <div id="announcer_infos">
      <h4><%=t("announcer_info")%></h4>
      <p>
        <%= f.label t("org_form.announcer") %>
        <%= f.text_field :announcer %>
      </p>
      <p>
        <%= f.label t("org_form.password") %>
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.label t("org_form.email") %>
        <%= f.text_field :email %>
      </p>
    </div>
    <div class="btnSubmit">
      <%= f.submit action , :value => controller.action_name == "new" ? t("org_form.create_button") : t("org_form.update_button")%>
    </div>
  </div>

  <div class="clear"></div>
<% end %>
