
<% form_for(@organization) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>


  <p>
    <%= f.label :tags %><br />
    <ul id="list_tags"> 
      <% @tags.each do |tag| -%>
        <li><input type="checkbox" value="<%=tag.id%>" name="organization[tag_ids][]" <%= @organization.tags.include?(tag) ? "checked=\"checked\"" : "" %>/><span><%= t("tag.#{tag.name}") %></span></li>
      <% end -%>
    </ul>
  </p>

  <p>
    <%= f.label :needs %><br />
    <%= f.text_area :needs %>
  </p>
  <p>
    <%= f.submit action %>
  </p>

<% end %>
