<p>
  <b>Name:</b>
  <%=h @organization.name %>
</p>

<p>
  <b>Contact:</b>
  <%=h @organization.contact %>
</p>

<p>
  <b>City:</b>
  <%=h @organization.city %>
</p>

<p>
  <b>Country:</b>
  <%=h @organization.country %>
</p>

  <p>
    <b>Tags:</b>
	<%= @organization.tags.inject([]){|a,t| a<<t.name}.join(', ')  %>
  </p>

<p>
  <b>Needs:</b>
  <%=h @organization.needs %>
</p>


