<div class="wrapper">
  <div class="orgDescription">
    <h3>
      <%= @organization.name %>
      <div><%= @organization.city %> / <%= @organization.country %></div>
    </h3>
    
    <div class="waysOfContact">
      <strong><%=t("org_form.contact")%>:</strong> <%= @organization.contact %>
    </div>
    <div class="tags">
      <strong><%=t("org_form.tags")%>:</strong> 
      <%= @organization.tags.inject([]){|a,tag| a<<t("tag.#{tag.name}")}.join(', ')  %>
    </div>
    
    <div class="needs">
      <strong><%=t("org_form.needs")%>:</strong>
      <br />
      <%= RedCloth.new(@organization.needs).to_html.html_safe %>
    </div>

    <div class="tools">
      <%= link_to t('org_form.edit_button'), edit_organization_path(@organization), :class => 'link edit'  %> | <%= link_to t('twitter_share.button'), compose_twitter_share_url(), :class => 'link share'  %>
    </p>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
