<div class="wrapper">
  <div class="orgDescription">
    <h3>
      <%= @organization.name %>
      <div><%= @organization.city %> / <%= @organization.country %></div>
    </h3>
    <div class="waysOfContact">
      <strong><%=t("org_form.contact")%>:</strong> <%= @organization.contact %>
    </div>
    <div class="tags">
      <strong><%=t("org_form.tags")%>:</strong> 
      <%= @organization.tags.inject([]){|a,tag| a<<t("tag.#{tag.name}")}.join(', ')  %>
    </div>
    
    <div class="needs">
      <strong><%=t("org_form.needs")%>:</strong>
      <br />
      <%= RedCloth.new(@organization.needs).to_html.html_safe %>
    </div>

    <div class="tools">
      <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-text="<%= compose_twitter_share_text() %>" data-via="letshelpit"></a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script> 
      <div class="fb-like" data-href="<%= compose_facebook_like_url() %>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
      <br />
      <%= link_to t('org_form.edit_button'), edit_organization_path(@organization), :class => 'link edit'  %>
    </p>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
