	<p>
		<b><%=t("org_form.name")%>:</b>
		<%=h @organization.name %>
	</p>

	<p>
		<b><%=t("org_form.contact")%>:</b>
		<%=h @organization.contact %>
	</p>

	<p>
		<b><%=t("org_form.city")%>:</b>
		<%=h @organization.city %>
	</p>

	<p>
		<b><%=t("org_form.country")%>:</b>
		<%=h @organization.country %>
	</p>

	<p>
		<b><%=t("org_form.tags")%>:</b>
    <%= @organization.tags.inject([]){|a,tag| a<<t("tag.#{tag.name}")}.join(', ')  %>
	</p>

	<p>
		<b><%=t("org_form.needs")%>:</b>
		<%= RedCloth.new(@organization.needs).to_html %>
	</p>

  <br />  
  <p>
	  <%= link_to t('org_form.edit_button'), edit_organization_path(@organization), :class => 'link'  %>
	  <%= link_to t('twitter_share.button'), compose_twitter_share_url(), :popup => true, :class => 'link'  %>
	</p>
