<div id="organizations">
  <% @organizations.each do |organization| %>
    <%= link_to organization do %>
      <div class="organization <%= cycle('left','right') %>">
        <h2><%= organization.name %></h2>
        <h3><%= organization.city %></h3>
        <p><%= RedCloth.new(organization.needs).to_html.html_safe %></p>
      </div>
    <% end %>
  <% end %>
</div>
