<div class="wrapper featuredOrg">
  <% @organizations.each do |organization| %>
    <% link_to organization do %>
    <div class="bucket <%= cycle('left','right') %>">
        <h3><%=h organization.name %></h3>
        <h4><%=h organization.city %></h4>
        <p><%=h organization.needs %></p>
        <a class="more" href="#">+</a>
    </div>
    <% end %>
  <% end %>
  <div class="clear"></div>
</div>

<div class="wrapper actions">
	<a href="#">Share this idea!</a>
	<%= link_to t("organization.register"), new_organization_path, :class => "link" %>
        
</div>
