<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= t "title" %></title>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cantarell:regular,italic,bold' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag 'jquery' %>
  </head>
  <body id="body_tag" lang="<%= I18n.locale.to_s %>">

    <div class="bg">
      <%= image_tag("bg.jpg", :alt => "background") %>
    </div>    

    <header>
      <div class="wrapper">
        <h1 id="logo"><a href="/"></a></h1>
        <div class="locale">
          <%= generate_locale_menu_html.html_safe if controller.action_name == "index" %>
        </div>
        <nav class="social">
          <div class="slogan">
            <%= t("subtitle") %>
          </div>
          <ul>          
            <li class="forum"><%= link_to t('forum'), "http://letshelpit.uservoice.com/forums/72267-general?lang=#{I18n.locale.to_s.gsub('-', '_')}" %></li>
            <li class="twitter"><%= link_to 'Twitter', "http://www.twitter.com/letshelpit" %></li>
            <li class="flickr"><%= link_to 'Flickr', "http://www.flickr.com" %></li>
          </ul>
          <div class="clear"></div>
        </nav>
        <div class="clear"></div>
      </div>
    </header>

    <section id="body">
      <div class="wrapper helpWithAndFindOrg">
        <h2><%= t("howto_help") %></h2>
        <form id="search_form" name="search_form" method="get" action="/organizations/search">
          <div id="search_tags" class="helpWith">
            <% @tags.each do |tag| %>
              <label>
                <input type="checkbox" value="<%=tag.id%>" name="tag_ids[]" <%= ( (params[:tag_ids].member? tag.id.to_s) ? "checked":"") if not params[:tag_ids].nil? %> /> <%= t("tag.#{tag.name}") %>
              </label>
            <% end %>
          </div>
          <div class="find">
            <input id="search_query" name="q" type="text" value="<%= params[:q]%>" class="cityOrOrg" placeholder="<%= t('whereto_help') %>" />
            <input id="search" type="submit" value="<%= t('find') %>" />
          </div>
          <div id="search_help_message">
            <p><%= t("whereto_help") %></p>
          </div>
        </form>
      </div>

      <h2 class="successfulAdded"><%= flash[:notice] %></h2>
      <%= yield %>

      <div class="wrapper actions">
        <a href="#">Share this idea!</a>
        <%= link_to t("organization.register"), new_organization_path, :class => "link" %>
      </div>
    </section>

    <footer>
      <div class="wrapper featuredOrg">
        <small class="letsHelpIt"><strong><%= link_to ('Let\'s Help it'), about_url  %></strong></small>
        <small class="free">No rights reserved. <a href="#">Free code</a>.</small>
        <div class="clear"></div>
      </div>
    </footer>

    <%= javascript_include_tag 'uservoice' %>
    <%= javascript_include_tag 'analytics' %>
  </body>
</html>
