<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= t "title" %></title>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cantarell:regular,italic,bold' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag 'jquery' %>
  </head>
  <body id="body_tag" lang="<%= I18n.locale.to_s %>">
    <div id="container">
    
      <div id="header">
        <%= generate_locale_menu_html.html_safe if controller.action_name == "index" %>
        <div id="registration">
          <%= link_to t("organization.register"), new_organization_path, :class => "link" %>
        </div>
        <div id="logo">
          <h1><%= link_to t("title"), :controller => "home", :action => "index" %></h1>
        </div>
      </div>
      
      <div id="subheader">
        <div id="search_area">
          <form id="search_form" name="search_form" method="get" action="/organizations/search">
            <blockquote id="search_tags">
              <label><%= t("howto_help") %></label>
              <% @tags.each do |tag| %>
                <label><input type="checkbox" value="<%=tag.id%>" name="tag_ids[]" <%= ( (params[:tag_ids].member? tag.id.to_s) ? "checked":"") if not params[:tag_ids].nil? %> /> <%= t("tag.#{tag.name}") %></label>
              <% end %>
            </blockquote>
            <table align="center" id="search_table">
              <tr>
                <td><input id="search_query" name="q" type="text" value="<%= params[:q]%>" /></td>
                <td><input id="search" type="submit" value="<%= t("find") %>" /></td>
              </tr>
              <tr>
                <td><div id="search_message"><p><%= t("whereto_help") %></p></div></td>
              </tr>
            </table>
          </form>
        </div>
      </div>
      
      <div id="content">
        <div style="color: green" align="center"><%= flash[:notice] %></div>
        <%= yield %>
      </div>
      
      <div id="footer">
        <%= link_to t('about'), about_url  %> | <%= link_to 'Twitter: @letshelpit', 'http://www.twitter.com/letshelpit' %> | <%= link_to t('forum'), "http://letshelpit.uservoice.com/forums/72267-general?lang=#{I18n.locale.to_s.gsub('-', '_')}" %>
      </div>

    </div>

    <%= javascript_include_tag 'uservoice' %>
    <%= javascript_include_tag 'analytics' %>
  </body>
</html>
